:root {
  --lightBlue: #2b78c2;
  --gray: #3b4552;
}

.header {
  /* max-width: 50%; */
  padding: 5px;
  margin: 15px auto;
  margin-bottom: 25px;
  max-width: 640px;
}

.handmoney {
  max-width: 25%;
}

h2 {
  font-size: 55px;
  color: var(--lightBlue)
}

.text {
  font-size: 17px;
  color: var(--gray)
}
