@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap');

:root {
    --lightBlue: #2b78c2;
    --gray: #3b4552;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: #b0cae2;
    font-family: 'Antonio', sans-serif;
    align-items: center;
}

button {
    cursor: pointer;
}
